<table id="bodyTable"
  style="border-collapse: collapse; text-size-adjust: 100%; height: 945px; margin: 0px; padding: 0px; width: 594px; background-color: #eeeeee; font-family: 'Times New Roman'; font-size: medium;"
  border="0" width="100%" cellspacing="0" cellpadding="0" align="center">
  <tbody>
    <tr>
      <td id="bodyCell"
        style="text-size-adjust: 100%; height: 927px; margin: 0px; padding: 10px; width: 600px; border-top: 0px;"
        align="center" valign="top">
        <table class="templateContainer"
          style="border-collapse: collapse; text-size-adjust: 100%; max-width: 600px !important; border: 0px; width: 600px !important;"
          border="0" width="100%" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td id="templatePreheader"
                style="text-size-adjust: 100%; background-image: none; background-repeat: no-repeat; background-position: center center; background-size: cover; border-top: 0px; border-bottom: 0px; padding-top: 0px; padding-bottom: 0px;"
                valign="top">&nbsp;</td>
            </tr>
            <tr>
              <td id="templateBody"
                style="text-size-adjust: 100%; background-color: #fcfcfc; background-image: none; background-repeat: no-repeat; background-position: center center; background-size: cover; border-top: 0px; border-bottom: 0px; padding-top: 40px; padding-bottom: 50px;"
                valign="top">
                <table class="mcnBoxedTextBlock"
                  style="border-collapse: collapse; text-size-adjust: 100%; min-width: 100%;" border="0" width="100%"
                  cellspacing="0" cellpadding="0">
                  <tbody class="mcnBoxedTextBlockOuter">
                    <tr>
                      <td class="mcnBoxedTextBlockInner" style="text-size-adjust: 100%;" valign="top">
                        <table class="mcnBoxedTextContentContainer"
                          style="border-collapse: collapse; text-size-adjust: 100%; min-width: 100%;" border="0"
                          width="100%" cellspacing="0" cellpadding="0" align="left">
                          <tbody>
                            <tr>
                              <td style="text-size-adjust: 100%; padding: 9px 18px;">
                                <table class="mcnTextContentContainer"
                                  style="border-collapse: collapse; text-size-adjust: 100%; min-width: 100%;" border="0"
                                  width="100%" cellspacing="0">
                                  <tbody>
                                    <tr>
                                      <td class="mcnTextContent"
                                        style="text-size-adjust: 100%; word-break: break-word; color: #ffffff; font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 32px; padding: 18px;"
                                        valign="top">
                                        <div style="padding: 0px 10px; color: #303030;">
                                          <div style="text-align: justify;"><span
                                              style="font-size: 24px;"><strong>Ol&aacute;, {{username}}
                                                !</strong></span><br /><br /><span style="font-size: 14px;">Aqui está o
                                              seu token:&nbsp;</span>{{token}} </div>
                                          <div style="text-align: justify;">&nbsp;</div>

                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
